{background
    witdth: 300 px;
    height: 200 px;
    background image:url("background.jpg");
    background position: center; 
    background repeat: no repeat;

}

{text
color: whitesmoke;
text size: 14; 

}